<section class="myfooter bg-body-secondary text-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4> Chăm sóc khách hàng</h4>
                <ul>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Trung tâm trợ giúp</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">ShopBee Blog</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Hướng dẫn Mua hàng</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Hướng dẫn Thanh toán</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Vận chuyển</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Trả hàng & hoàn tiền</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">CSKH</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Chính sách bảo hành</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Về ShopBee</h4>
                <ul>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Giới thiệu</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Tuyển dụng</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Điều khoản</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Chính sách bảo mật</a>
                    </li>
                    <li class="li_menu">
                        <a href="/" style="color: inherit; text-decoration: none;">Liên hệ truyền thông</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <h4>Thanh toán</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://down-vn.img.susercontent.com/file/d4bbea4570b93bfd5fc652ca82a262a8"
                                alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="https://down-vn.img.susercontent.com/file/a0a9062ebe19b45c1ae0506f16af5c16"
                                alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="https://down-vn.img.susercontent.com/file/38fd98e55806c3b2e4535c4e4a6c4c08"
                                alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="row py-3">
                            <div class="col-md-4">
                                <img src="./images/momo_icon_square_pinkbg_RGB.png " class="img-fluid" alt=""
                                    height="50px" width="50px">
                            </div>
                            <div class="col-md-4">
                                <img src="https://th.bing.com/th?id=OIP.SRSzWrk4GjtaHn6ZjulVDAHaIE&w=474&h=516&c=7&qlt=80&bgcl=fffffe&r=0&o=6&pid=MultiSMRSV2Source"
                                    alt="" class="img-fluid " alt="" height="50px" width="50px">
                            </div>
                            <div class="col-md-4">
                                <img src="./images/zalopay-logo_brandlogos.net_fjcup.png" alt=""
                                    class="img-fluid bg-white" alt="" height="50px" width="50px">
                            </div>
                        </div>
                        <div class="row">
                            <h4>Đơn vị vận chuyển</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="https://down-vn.img.susercontent.com/file/59270fb2f3fbb7cbc92fca3877edde3f"
                                        alt="">
                                </div>
                                <div class="col-md-4">
                                    <img src="https://down-vn.img.susercontent.com/file/d10b0ec09f0322f9201a4f3daf378ed2"
                                        alt="">
                                </div>
                                <div class="col-md-4">
                                    <img src="https://down-vn.img.susercontent.com/file/0d349e22ca8d4337d11c9b134cf9fe63"
                                        alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-md-3">
                <h4>Theo dõi chúng tôi trên</h4>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://facebook.com" style="color: inherit; text-decoration: none;">facebook</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://instagram.com" style="color: inherit; text-decoration: none;">instagram</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://linkedin.com" style="color: inherit; text-decoration: none;">linkedin</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h4>SHOPBEE - Bủh Bủh Lmao !!</h4>
                    <p>Copyright@ 2024 Công ty cổ phần thương mại ShopBee <br>Chứng nhận ĐKKD số: 12345 do sở KH &
                        ĐT TP.UIT cấp <br>Địa chỉ: Khu phố 6, Phường Linh Trung, TP. Thủ Đức - HCM
                        <br>Điện thoại: 0123456789 - Email: support@shopbee.vn
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>Chi nhánh Store</h4>
                    <ul>
                        <li class="li_menu">Tòa nhà E UIT, khu phố 6, Phường Linh Trung, TP. Thủ Đức,TP.HCM</li>
                        <li class="li_menu">Phường 3, TP. Tây Ninh, Tỉnh Tây Ninh</li>
                        <li class="li_menu">TP. Bến Tre, tỉnh Bến Tre</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    Bản quyền thuộc về <a href="/" style="color: inherit; text-decoration: none;">The 1709
                        Company</a> Cung cấp bởi LoserUIT
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2"><a href="/" style="color: inherit; text-decoration: none;"> Trang
                                chủ</a></div>
                        <div class="col-md-2"><a href="/" style="color: inherit; text-decoration: none;"> Giới
                                thiệu</a></div>
                        <div class="col-md-2"><a href="/" style="color: inherit; text-decoration: none;"> Sản
                                phẩm</a></div>
                        <div class="col-md-3"><a href="/" style="color: inherit; text-decoration: none;"> Tin mới
                                nhất</a></div>
                        <div class="col-md-3"><a href="/" style="color: inherit; text-decoration: none;"> Câu hỏi
                                thường gặp</a></div>
                    </div>
                </div>
            </div>
        </div>
</section>