<section class="myheader">
    <div class="container pt-0">
        <div class="row">
            <div class="col-md-2 col-sm-3 py-3">
                <img src="images/logo.png" class="img-fluid" alt="Logo" height="50px" width="150px">
            </div>
            <div class="col-md-4 col-sm-3 ">
                <div class="input-group mb-3 py-3 ">
                    <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm"
                        aria-label="Tìm kiếm sản phẩm" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 py-3">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fs-3 text-danger">
                                    <i class="fa-sharp-duotone fa-solid fa-phone"></i>
                                </div>
                            </div>

                            <div class="col-md-9">
                                Tư vấn hỗ trợ<br>
                                <strong class="text-danger">0123456789</strong>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="fs-3 text-danger">
                                    <i class="fa-solid fa-circle-user"></i>
                                </div>
                            </div>

                            <div class="col-md-9" id="login_cluster">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="login_cluster" >
                                    Xin chào!<br>
                                    <strong class="text-danger" data-bs-toggle="modal" data-bs-target="#registerModal" id="loginText">Đăng nhập</strong>
                                    <strong class="text-danger" data-bs-toggle="modal" id="loginNameShow" >Đăng nhập</strong>
                                    <ul class="dropdown-menu d-none" id="dropdownMenuOfLoginCluster">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" href="#">
                                                Thông tin cá nhân
                                            </a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" href="#">
                                                Đơn hàng của tôi
                                            </a>
                                            </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" href="#">
                                                Địa chỉ nhận hàng
                                            </a></li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" href="#" id="logoutButton">
                                               Đăng xuất
                                            </a>
                                        </li>
                                    </ul>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 col-account order-2 order-md-3 pt-3">
                <div class="row">
                    <div class="col">
                        <a href="#" class="position-relative">
                            <span class="fs-2"><i class="fa-regular fa-heart"></i></span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                0
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="position-relative">
                            <span class="fs-2"><i class="fa-solid fa-cart-shopping"></i></span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                0
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="position-relative">
                            <span class="fs-2"><i class="fa-solid fa-code-compare"></i></span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                0
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!---Main menu---------------------------------------->
<section class="mymainmenu bg-warning">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-dark py-3" id="danhmucsanpham">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <div class="row">
                        <div class="col-md-1"><i class="fa-solid fa-bars"></i></div>
                        <div class="col-md-11">Danh mục sản phẩm</div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">
                            <div class="row">
                                <div class="col-md-2"><i class="fa-solid fa-mobile"></i></div>
                                <div class="col-md-10">Điện thoại</div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">iPhone</a></li>
                            <li><a class="dropdown-item" href="#">Samsung</a></li>
                            <li><a class="dropdown-item" href="#">Xiaomi</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">
                            <div class="row">
                                <div class="col-md-2"><i class="fa-solid fa-laptop"></i></div>
                                <div class="col-md-10">Laptop</div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">MacBook</a></li>
                            <li><a class="dropdown-item" href="#">Dell</a></li>
                            <li><a class="dropdown-item" href="#">Asus</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item" href="#">
                            <div class="row">
                                <div class="col-md-2"><i class="fa-solid fa-headphones"></i></div>
                                <div class="col-md-10">Phụ kiện</div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tai nghe</a></li>
                            <li><a class="dropdown-item" href="#">Bàn phím</a></li>
                            <li><a class="dropdown-item" href="#">Chuột</a></li>
                        </ul>
                    </li>
                    <hr>
                    <li><a class="dropdown-item" href="#">
                            <div class="row">
                                <div class="col-md-2"><i class="fa-solid fa-tv"></i></div>
                                <div class="col-md-10">Tivi, Tủ lạnh, Điều hòa</div>
                            </div>
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <div class="row">
                                <div class="col-md-2"><i class="fa-solid fa-shower"></i></div>
                                <div class="col-md-10">Máy giặt máy sấy,...</div>
                            </div>
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <div class="row">
                                <div class="col-md-2"><i class="fa-solid fa-microchip"></i></div>
                                <div class="col-md-10">PC, linh kiện PC</div>
                            </div>
                        </a></li>
                    <li><a class="dropdown-item" href="#">
                            <div class="row">
                                <div class="col-md-2"><i class="fa-solid fa-fan"></i></div>
                                <div class="col-md-10">Quạt, quạt điều hòa, máy nước nóng</div>
                            </div>
                        </a></li>
                </ul>
            </div>
            <!---Menu-->
            <div class="col-md-9">
                <nav class="navbar navbar-expand-lg bg-warning">
                    <div class="container-fluid">
                        <a class="navbar-brand d-none" href="#">Navbar</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item px-2">
                                    <a class="nav-link text-dark active" aria-current="page" href="#">Trang chủ</a>
                                </li>
                                <li class="nav-item px-2">
                                    <a class="nav-link text-dark " href="#">Giới thiệu</a>
                                </li>
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Sản phẩm
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item px-2">
                                    <a class="nav-link disabled text-dark" aria-disabled="true">Tin tức</a>
                                </li>
                                <li class="nav-item px-2">
                                    <a class="nav-link disabled text-dark" aria-disabled="true">Tuyển dụng</a>
                                </li>
                                <li class="nav-item px-2">
                                    <a class="nav-link disabled text-dark" aria-disabled="true">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>