<div class="modal fade"  id="registerModal" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="registerLabel">Register</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="fname">
                        <label for="fname">First Name</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Username">
                        <label for="Username">Username</label>
                    </div>  <br>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="Password">
                        <label for="Password">password</label>
                    </div> <br>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="ConfirmPassword">
                        <label for="ConfirmPassword">Confirm Password</label>
                    </div> <br>
                    <button class="btn btn-primary">SUBMIT</button> 
                    </div>             
                </form>
            </div>
        </div>
    </div>
</div>